@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
	--background: 0 0% 100%;
	--foreground: 222.2 84% 4.9%;

	--muted: 210 40% 96.1%;
	--muted-foreground: 215.4 16.3% 46.9%;

	--popover: 0 0% 100%;
	--popover-foreground: 222.2 84% 4.9%;

	--card: 0 0% 100%;
	--card-foreground: 222.2 84% 4.9%;

	--border: 214.3 31.8% 91.4%;
	--input: 214.3 31.8% 91.4%;

	--primary: 222.2 47.4% 11.2%;
	--primary-foreground: 210 40% 98%;

	--secondary: 210 40% 96.1%;
	--secondary-foreground: 222.2 47.4% 11.2%;

	--accent: 210 40% 96.1%;
	--accent-foreground: 222.2 47.4% 11.2%;

	--destructive: 0 84.2% 60.2%;
	--destructive-foreground: 210 40% 98%;

	--ring: 215 20.2% 65.1%;

	--radius: 0.5rem;
}

.dark {
	--background: 222.2 84% 4.9%;
	--foreground: 210 40% 98%;

	--muted: 217.2 32.6% 17.5%;
	--muted-foreground: 215 20.2% 65.1%;

	--popover: 222.2 84% 4.9%;
	--popover-foreground: 210 40% 98%;

	--card: 222.2 84% 4.9%;
	--card-foreground: 210 40% 98%;

	--border: 217.2 32.6% 17.5%;
	--input: 217.2 32.6% 17.5%;

	--primary: 210 40% 98%;
	--primary-foreground: 222.2 47.4% 11.2%;

	--secondary: 217.2 32.6% 17.5%;
	--secondary-foreground: 210 40% 98%;

	--accent: 217.2 32.6% 17.5%;
	--accent-foreground: 210 40% 98%;

	--destructive: 0 62.8% 30.6%;
	--destructive-foreground: 0 85.7% 97.3%;

	--ring: 217.2 32.6% 17.5%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		height: 100%;
	}

	/* .page-numbers {
		@apply border border-opacity-50 dark:border-opacity-100 h-8 w-8 text-xs font-medium px-3 py-2 flex justify-center items-center rounded-full cursor-pointer  bg-slate-50/50 dark:bg-primary-50/10 hover:bg-slate-100 dark:hover:bg-primary-50/30 dark:hover:text-white leading-none;
	}

	.page-numbers.current {
		@apply bg-primary-50 dark:bg-primary-50/15 dark:text-slate-100 dark:hover:bg-primary-50/25 dark:hover:text-white;
	}

	.page-numbers.dots {
		@apply relative;
	}

	.page-numbers.next,
	.page-numbers.prev {
		@apply flex items-center justify-center bg-primary-50/50 dark:bg-primary-50/15 p-2 dark:hover:bg-primary-50/25;
	} */
}

html {
	scroll-behavior: smooth;
	height: 100%;
	font-family: "Inter", sans-serif;
}

body {
	color: rgb(var(--foreground-rgb));
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer utilities {
	/* Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none !important;
	}

	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@supports selector(::-webkit-scrollbar) {
	.supports-scrollbars\:pr-2 {
		padding-right: 0.5rem;
	}

	.scrollbar\:\!h-1\.5::-webkit-scrollbar {
		height: 0.375rem !important;
	}
	.scrollbar\:\!h-1::-webkit-scrollbar {
		height: 0.25rem !important;
	}
	.scrollbar\:\!w-1\.5::-webkit-scrollbar {
		width: 0.375rem !important;
	}
	.scrollbar\:\!w-1::-webkit-scrollbar {
		width: 0.25rem !important;
	}
	.scrollbar\:bg-transparent::-webkit-scrollbar {
		background-color: transparent;
	}
	.scrollbar-track\:\!rounded::-webkit-scrollbar-track {
		border-radius: 0.25rem !important;
	}
	.scrollbar-track\:\!bg-slate-100::-webkit-scrollbar-track {
		--tw-bg-opacity: 1 !important;
		background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
	}
	.scrollbar-thumb\:\!rounded::-webkit-scrollbar-thumb {
		border-radius: 0.25rem !important;
	}
	.scrollbar-thumb\:\!bg-slate-300::-webkit-scrollbar-thumb {
		--tw-bg-opacity: 1 !important;
		background-color: rgb(203 213 225 / var(--tw-bg-opacity)) !important;
	}
}

.glass {
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	border: 1px solid rgba(255, 255, 255, 0.18);
}

.slider .slider-item {
	visibility: hidden;
	opacity: 0;
	transition: opacity 2s ease, visibility 0s ease 2s;
}

.slider .slider-item.active {
	visibility: visible;
	opacity: 1;
	transition: opacity 2s ease;
}

.has-adminbar {
	/* @apply mt-4; */
}
input[type="number"] {
	-moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

/* content css  */
.school-contents.prose img,
figure {
	@apply rounded-xl xl:aspect-[10/5] lg:aspect-[10/6] md:aspect-[10/6] aspect-[10/6] w-full;
}

.school-contents.prose .aligncenter {
	@apply mx-auto;
}

.school-contents.prose .alignleft {
	@apply mr-auto;
}

.school-contents.prose .alignright {
	@apply ml-auto;
}

.bg-img-cover {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: cover !important;
}

.bg-img-contain {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
}

body.custom-background {
	background-size: 70px !important;
}
/* sidebar css */

#sidebar h1,
#sidebar h2,
#sidebar h3,
#sidebar h4,
#sidebar h5,
#sidebar h6 {
	@apply font-semibold bg-primary-500 text-white px-3 py-1.5;
}

#sidebar h1 {
	@apply text-3xl py-2;
}
#sidebar h2 {
	@apply text-2xl py-1.5;
}
#sidebar h3 {
	@apply text-xl py-1;
}
#sidebar h4 {
	@apply text-lg py-0.5;
}
#sidebar h5 {
	@apply text-sm;
}
#sidebar h6 {
	@apply text-xs;
}
/* widget css */

#sidebar h1.wp-block-heading,
#sidebar h2.wp-block-heading,
#sidebar h3.wp-block-heading,
#sidebar h4.wp-block-heading,
#sidebar h5.wp-block-heading,
#sidebar h6.wp-block-heading {
	font-size: 14px !important;
}

#sidebar img {
	@apply rounded-sm aspect-[10/6] w-full max-w-full;
}
/* aspect-[10/8] */
#sidebar figure {
	@apply relative flex rounded-sm aspect-1 w-full max-w-full overflow-hidden;
}

#sidebar figure.aligncenter {
	@apply justify-center;
}

#sidebar figure.alignleft {
	@apply justify-start;
}

#sidebar figure.alignright {
	@apply justify-end;
}

#sidebar .aligncenter {
	@apply mx-auto;
}

#sidebar .alignleft {
	@apply mr-auto;
}

#sidebar .alignright {
	@apply ml-auto;
}

#sidebar ol {
	list-style: bengali;
	@apply ml-4;
}

#sidebar li a {
	@apply hover:text-primary-500;
}
#sidebar ul li a,
#sidebar ol li a {
	@apply font-semibold text-sm;
}

#sidebar ul li a strong,
#sidebar ol li a strong {
	@apply text-red-400 hover:text-red-500;
}
#sidebar .wp-block-heading {
	@apply mb-4;
}
#sidebar .odd.widget:last-child {
	@apply lg:col-span-1 md:col-span-2 col-span-1;
}

/* contents css */
#contents table,
#contents img,
#contents figure {
	@apply max-w-full;
}

#contents h1,
#contents h2,
#contents h3,
#contents h4,
#contents h5,
#contents h6 {
	@apply font-semibold;
}

#contents h1 {
	@apply text-3xl py-2;
}
#contents h2 {
	@apply text-2xl py-1.5;
}
#contents h3 {
	@apply text-xl py-1;
}
#contents h4 {
	@apply text-lg py-0.5;
}
#contents h5 {
	@apply text-sm;
}
#contents h6 {
	@apply text-xs;
}
#contents a {
	@apply text-primary-400 hover:text-primary-500;
}

#contents .aligncenter {
	@apply mx-auto;
}

#contents .alignleft {
	@apply mr-auto;
}

#contents .alignright {
	@apply ml-auto;
}

/* menu css */

a.current-menu-item.active {
	@apply text-primary-500 hover:text-primary-500;
}
li.main-menu-item.menu-item {
	@apply rounded-md bg-zinc-50/50 hover:bg-zinc-100;
}

li.main-menu-item.menu-item-has-children {
	@apply pr-2;
}

li.main-menu-item.current-menu-item.active {
	@apply bg-zinc-50;
}
